# Copie para .env.docker:
#   copy .env.docker.example .env.docker
#
# Depois:
#   docker compose --env-file .env.docker up --build
#
# App: http://localhost:8080

LARAVEL_PORT=8080
LARAVEL_APP_KEY=base64:3H0rHGsdLIL0QfFRj6GitJ4WgjxMlzq9YsdYJocJ7Go=

JWT_SECRET=conectaking-local-dev-secret-change-me

POSTGRES_USER=conectaking
POSTGRES_PASSWORD=conectaking
POSTGRES_DB=conectaking
POSTGRES_PORT=5432
