<%# Partial: item tipo facebook. Variável: item %>
<a href="<%= item.destination_url || '#' %>" class="profile-link" target="_blank" rel="noopener noreferrer" data-item-id="<%= item.id %>">
    <i class="<%= item.icon_class || 'fab fa-facebook' %>"></i>
    <span><%= item.title || 'Facebook' %></span>
</a>
