<%# Partial: item tipo pix_qrcode (botão que abre modal). Variável: item %>
<button class="profile-link profile-button-pix-qrcode" data-item-id="<%= item.id %>">
    <i class="<%= item.icon_class || 'fas fa-qrcode' %>"></i>
    <span><%= item.title || 'PIX QR Code' %></span>
</button>
