.env
.env.*
!.env.example
!.env.example.*
!.env.docker.example
!.env.example.conectaking
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
