APP_NAME=ConectaKing
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://www.conectaking.com.br

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=conectaking
DB_USERNAME=conectaking
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
# REDIS_PASSWORD=
