{
	frankenphp
	auto_https off
	admin off
}

:8080 {
	root * /app/public
	encode zstd br gzip

	@vite path /build/assets/*
	header @vite Cache-Control "public, max-age=31536000, immutable"

	@static path_regexp static_ext \.(css|js|mjs|map|woff2|woff|ttf|png|jpe?g|gif|webp|svg|ico)$
	header @static Cache-Control "public, max-age=86400"

	php_server
}
